<?xml version="1.0"?>
<config>
    <tabs>
        <synerise translate="label" module="synerise_integration">
            <label>Synerise</label>
            <sort_order>102</sort_order>
        </synerise>
    </tabs>
    <sections>
        <synerise_integration translate="label" module="synerise_integration">
            <label>Integration</label>
            <tab>synerise</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>synerise_integration/system_config_form_status</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                   
                </general>
                <api translate="label">
                    <label>API</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <key translate="label,comment">
                            <label>API key</label>
                           <!-- <frontend_type>password</frontend_type>-->
                            <backend_model>synerise_integration/system_config_backend_apiKey</backend_model>
                            <comment><![CDATA[You'll find your API key in <a href='https://app.synerise.com/api' target='_blank'>profile settings</a> under API section.]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                    </fields>
                </api>
                <tracking translate="label">
                    <label>Tracking</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label,comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>synerise_integration/system_config_backend_trackingEnable</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enable>
                        <fork translate="label">
                            <label>Fork</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends><enable>1</enable></depends>
                        </fork>                        
                    </fields>
                </tracking>
                <trackingevents translate="label">
                    <label>Tracking events</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <customer_login translate="label,comment">
                            <label>customer_login</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </customer_login>
                    </fields>
                    <fields>
                        <customer_logout translate="label,comment">
                            <label>customer_logout</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </customer_logout>
                    </fields>
                    <fields>
                        <wishlist_product_add_after translate="label,comment">
                            <label>wishlist_product_add_after</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </wishlist_product_add_after>
                    </fields>
                    <fields>
                        <customer_register_success translate="label,comment">
                            <label>customer_register_success</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </customer_register_success>
                    </fields>
                    <fields>
                        <customer_save_before translate="label,comment">
                            <label>customer_save_before</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </customer_save_before>
                    </fields>
                    <fields>
                        <customer_save_after translate="label,comment">
                            <label>customer_save_after</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </customer_save_after>
                    </fields>
                    <fields>
                        <checkout_cart_add_product_complete translate="label,comment">
                            <label>checkout_cart_add_product_complete</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </checkout_cart_add_product_complete>
                    </fields>
                    <fields>
                        <sales_quote_remove_item translate="label,comment">
                            <label>sales_quote_remove_item</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </sales_quote_remove_item>
                    </fields>
                    <fields>
                        <sales_order_place_after translate="label,comment">
                            <label>sales_order_place_after</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </sales_order_place_after>
                    </fields>
                    <fields>
                        <sales_order_save_after translate="label,comment">
                            <label>sales_order_save_after</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </sales_order_save_after>
                    </fields>
                </trackingevents>
                <productattr translate="label">
                    <label>Config product attr</label>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <attr translate="label,comment">
                            <frontend_model>synerise_integration/customattributes</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <comment>
                                <![CDATA[Zaznacz pole które będzie wysyłane do synerise, możesz dowolnie mapować pola wpisujać w input odpowiednia wartość.]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </attr>
                    </fields>
                </productattr>
                <sync translate="label">
                    <label>Synchronize customers and orders</label>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <sendhistory translate="label">
                            <label>Synchronise</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>synerise_integration/system_config_form_sendhistory</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sendhistory>
                    </fields>
                </sync>
                <opengraph translate="label">
                    <label>Open Graph</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label,comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Open graph tags are mandatory. Disable only if you are using another implementation.</comment>
                        </enable>  
                        <image translate="label,comment">
                            <label>Image to be displayed</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>synerise_integration/system_config_source_image</source_model>
                        </image>                         
                    </fields>
                </opengraph>                
                <dev translate="label">
                    <label>Developer options</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <register_autoloader translate="label,comment">
                            <label>Use default autolader</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Disable only when using composer</comment>
                        </register_autoloader>  
                        <autoloader_basepath translate="label,comment">
                            <label>Autoloader path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </autoloader_basepath>                          
                    </fields>
                </dev>                
            </groups>
        </synerise_integration>
    </sections>
</config>
