<?xml version="1.0"?>
<config>
    <modules>
        <Synerise_Newsletter>
            <version>1.0.3</version>
        </Synerise_Newsletter>
    </modules>
    <global>
        <blocks>
            <synerise_newsletter>
                <class>Synerise_Newsletter_Block</class>
            </synerise_newsletter>
        </blocks>         
        <helpers>
            <synerise_newsletter>
                <class>Synerise_Newsletter_Helper</class>
            </synerise_newsletter>
        </helpers>        
        <models>
           <newsletter>
                <rewrite>
                    <subscriber>Synerise_Newsletter_Model_Subscriber</subscriber>
                </rewrite>    
           </newsletter>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Synerise_Newsletter>
                    <files>
                        <default>Synerise_Newsletter.csv</default>
                    </files>
                </Synerise_Newsletter>
            </modules>
        </translate>
    </adminhtml>      
    <frontend>
        <layout>
            <updates>
                <synerise_newsletter>
                    <file>synerise_newsletter.xml</file>
                </synerise_newsletter>
            </updates>
        </layout>        
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Synerise_Newsletter before="Mage_Newsletter">Synerise_Newsletter</Synerise_Newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>          
        <translate>          
            <modules>
                <Synerise_Newsletter>
                    <files>
                        <default>Synerise_Newsletter.csv</default>
                    </files>
                </Synerise_Newsletter>
            </modules>
        </translate>
    </frontend>      
</config>