<?xml version="1.0"?>
<config>
    <modules>
        <Synerise_Coupon>
            <version>1.0.3</version>
        </Synerise_Coupon>
    </modules> 
    <global>
        <blocks>
            <synerise_coupon>
                <class>Synerise_Coupon_Block</class>
            </synerise_coupon>
        </blocks>          
        <models>
            <synerise_coupon>
                <class>Synerise_Coupon_Model</class>
            </synerise_coupon>            
        </models>
        <helpers>
            <synerise_coupon>
                <class>Synerise_Coupon_Helper</class>
            </synerise_coupon>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <synerise_coupon>
                        <class>synerise_coupon/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                        <type>singleton</type>
                    </synerise_coupon>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_place_after>
                <observers>
                    <synerise_coupon>
                        <type>singleton</type>
                        <class>synerise_coupon/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </synerise_coupon>
                </observers>
            </sales_order_place_after>
            <salesrule_rule_load_after>
                <observers>
                    <synerise_coupon>
                        <type>singleton</type>
                        <class>synerise_coupon/observer</class>
                        <method>salesruleRuleLoadAfter</method>
                    </synerise_coupon>
                </observers>
            </salesrule_rule_load_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <synerise_coupon>
                        <class>synerise_coupon/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </synerise_coupon>
                </observers>
            </core_block_abstract_to_html_before>
            <core_collection_abstract_load_before>
                <observers>
                    <synerise_coupon>
                        <class>synerise_coupon/observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </synerise_coupon>
                </observers>
            </core_collection_abstract_load_before>
        </events>
        <resources>
            <synerise_coupon_setup>
                <setup>
                    <module>Synerise_Coupon</module>
                </setup>
            </synerise_coupon_setup>
            <connection>
                <use>default_setup</use>
            </connection>
        </resources>        
    </global>
    <adminhtml>
        <layout>
            <updates>
                <synerise_coupon>
                    <file>synerise_coupon.xml</file>
                </synerise_coupon>
            </updates>
        </layout>  
        <translate>
            <modules>
                <Synerise_Coupon>
                    <files>
                        <default>Synerise_Coupon.csv</default>
                    </files>
                </Synerise_Coupon>
            </modules>
        </translate>              
    </adminhtml>
    <admin>
        <routers>
        <adminhtml>
            <args>
                <modules>
                    <synerise_coupon after="Mage_Adminhtml">Synerise_Coupon</synerise_coupon>
                </modules>
                </args>
         </adminhtml>
        </routers>
    </admin>    
    <frontend>
        <translate>
            <modules>
                <Synerise_Coupon>
                    <files>
                        <default>Synerise_Coupon.csv</default>
                    </files>
                </Synerise_Coupon>
            </modules>
        </translate>           
    </frontend>
    <default>
        <synerise_coupon>
            <general>
                <validate_format>1</validate_format>
            </general>
        </synerise_coupon>
    </default>    
</config>