<?xml version="1.0"?>
<config>
    <modules>
        <Synerise_Coupon>
            <version>1.0.2</version>
        </Synerise_Coupon>
    </modules> 
    <global>
        <blocks>
            <synerise_coupon>
                <class>Synerise_Coupon_Block</class>
            </synerise_coupon>
        </blocks>          
        <models>
            <synerise_coupon>
                <class>Synerise_Coupon_Model</class>
            </synerise_coupon>            
        </models>
        <helpers>
            <synerise_coupon>
                <class>Synerise_Coupon_Helper</class>
            </synerise_coupon>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <synerise_coupon>
                        <class>synerise_coupon/observer</class>
                        <method>controllerActionPredispatch</method>
                        <type>singleton</type>
                    </synerise_coupon>
                </observers>
            </controller_action_predispatch>
            <sales_order_place_after>
                <observers>
                    <synerise_coupon>
                        <type>singleton</type>
                        <class>synerise_coupon/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </synerise_coupon>
                </observers>
            </sales_order_place_after>
            <salesrule_rule_load_after>
                <observers>
                    <synerise_coupon>
                        <type>singleton</type>
                        <class>synerise_coupon/observer</class>
                        <method>salesruleRuleLoadAfter</method>
                    </synerise_coupon>
                </observers>
            </salesrule_rule_load_after>            
        </events>
        <resources>
            <synerise_coupon_setup>
                <setup>
                    <module>Synerise_Coupon</module>
                </setup>
            </synerise_coupon_setup>
            <connection>
                <use>default_setup</use>
            </connection>
        </resources>        
    </global>
    <adminhtml>
        <layout>
            <updates>
                <synerise_coupon>
                    <file>synerise_coupon.xml</file>
                </synerise_coupon>
            </updates>
        </layout>        
    </adminhtml>
    <admin>
        <routers>
            <synerise_coupon>
                <use>admin</use>
                <args>
                    <module>Synerise_Coupon</module>
                    <frontName>synerise_coupon</frontName>
                </args>
            </synerise_coupon>
        </routers>
    </admin>    
    <default>
        <synerise_coupon>
            <general>
                <validate_format>1</validate_format>
            </general>
        </synerise_coupon>
    </default>    
</config>