<?xml version="1.0"?>
<config>
    <modules>
        <Synerise_Export>
            <version>0.2.2</version>
        </Synerise_Export>
    </modules>
<!--    <frontend>
        <routers>
            <synerise_export>
                <use>standard</use>
                <args>
                    <module>Synerise_Export</module>
                    <frontName>synerise_export</frontName>
                </args>
            </synerise_export>
        </routers>
        <translate>
            <modules>
                <Synerise_Export>
                    <files>
                        <default>Synerise_Export.csv</default>
                    </files>
                </Synerise_Export>
            </modules>
        </translate>
    </frontend>  -->
    <global>
        <blocks>
            <synerise_export>
                <class>Synerise_Export_Block</class>
            </synerise_export>
        </blocks>
        <models>
            <synerise_export>
                <class>Synerise_Export_Model</class>
            </synerise_export>
        </models>
        <resources>
            <synerise_export_setup>
                <setup>
                    <module>Synerise_Export</module>
                </setup>
            </synerise_export_setup>
            <connection>
                <use>default_setup</use>
            </connection>
        </resources>
        <helpers>
            <synerise_export>
                <class>Synerise_Export_Helper</class>
            </synerise_export>
        </helpers>
    </global>
    <default>
        <synerise_export>
            <attr_other>
                <Producent>manufacturer</Producent>
            </attr_other>
<!--            <sort>
                <default_sort_by>position</default_sort_by>
                <default_dir>asc</default_dir>
            </sort>-->
            <generate>
                    <enabled>0</enabled>				
                    <!--<limit>10</limit>-->	
                    <cron_schedule>0 0 * * *</cron_schedule>									
            </generate>
        </synerise_export>
    </default>
    <crontab>
        <jobs>
            <synerise_export_generate>
                <schedule><config_path>synerise_export/generate/cron_schedule</config_path></schedule>
                <run><model>synerise_export/observer::scheduledGenerateFeeds</model></run>
            </synerise_export_generate>
        </jobs>
    </crontab>	    
    <adminhtml>
        <translate>
            <modules>
                <Synerise_Export>
                    <files>
                        <default>Synerise_Export.csv</default>
                    </files>
                </Synerise_Export>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <synerise_export>
                                            <title>Export Synerise</title>
                                        </synerise_export>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <synerise_export>
                    <file>synerise_export.xml</file>
                </synerise_export>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <synerise_export>
                <use>admin</use>
                <args>
                    <module>Synerise_Export</module>
                    <frontName>synerise_export</frontName>
                </args>
            </synerise_export>
        </routers>
    </admin>
</config>
